:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #53e4be;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-semi-regular: 16px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  display:flex;
  flex-direction:row;
  justify-content:center;
  color: var(--color-dark-gray);
  font-weight: var(--weight-bold);
  padding: 10px 0;
  position: fixed;
  left:30%;
  bottom: 0;
  z-index: 1;
}

.footer__title>a{
	color:var(--color-dark-gray);
}
