@charset "UTF-8";

	:root {
	  /*color*/
	  --color-white: #ffffff;
	  --color-black: #212121;
	  --color-gray: #f5f5f5;
	  --color-dark-gray: #c4c4c4;
	  --color-green: #60825e;
	
	  /*font size*/
	  --font-large: 60px;
	  --font-regular: 16px;
	  --font-small: 12px;
	
	  /*font weight*/
	  --weight-bold: 700;
	  --weight-regular: 500;
	  --weight-thin: 300;
	
	  /*Size*/
	  --size-border-radius: 13px;
	}

	/*메인DIV박스*/
	.dona_border {
		margin: 100px;
		width: 500px;
		background-color:var(--color-white);
		/* height: 400px; */
		margin-left: auto;
		margin-right: auto;
		border-radius: var(--size-border-radius);
        box-shadow: 14px 14px 30px 3px rgba(0, 0, 0, 0.1);
	}
	
	/*메인텍스트*/
	h3 {
		padding-top: 30px;
		text-align: center;
	}
	
	/*후원텍스트 DIV박스*/
	.Donation_desciption{
		display:inline-block;
	    padding-top: 10px;
	}
	
	/*후원텍스트*/ /*div p하면 풋터랑 충돌나서 p태그에 id값 넣어줬습니다.*/
	div #D_d{
		display: block;
		width: 350px;
		height: 20px;
		line-height: 100px;
		text-align: center;
	}
	
	/*후원금액 DIV박스*/
	.Donation_Money{
	    display:inline-block;
	    width:300px;
	}
	
	/*후원금액 DIV박스*/
	.Money_1{ 
		width: auto;	
	}
	
	/*후원금액*/
	#mywon{
		width: 300px;
		height: 40px;
		border-radius: 8px;
		outline: none;
		border: 1px solid #ddd;
		padding-left: 10px;
		border: 1px solid #ddd;
		padding-left: 10px;
		margin-left: 16px;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color: var(--color-gray);
	}
	
	/*WON글씨 DIV박스*/
	.Money_2{		
		width: auto;
		padding-left: 10px;
		text-align: center;
	}
	
	/*WON글씨*/
	#won_t{
		font-weight: var(--weight-bold);
	}
	
	/*버튼 DIV박스*/
	.Button_1{
		text-align: center;
		line-height: 50px;
		margin-bottom: 20px;
	}
	
	/*버튼박스*/
	#button_t{
	  padding: 10px 0;
	  width: 120px;
	  border-radius: var(--size-border-radius);
	  background-color: var(--color-dark-gray);
	  border: none;
	  outline: none;
	  cursor: pointer;
	  font-size: var(--font-small);
	  font-weight: var(--weight-bold);
	}
	
	#donation_check{
		height: 20px;
		font-size: var(--font-small);
		text-align: center;
		line-height: 24.5px;
	}
	
	.div_Money{
		text-align: center;	
		line-height: 50px;
	}
	
	.div_Donation{
		text-align: center;
		height: 150px;
	}
	
	.div_Button{
		padding:20px 0;
	}
