@charset "UTF-8";

:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green:#53e4be;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-small: 14px;
  --font-mic: 12px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.regist__form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  background: rgba(196, 196, 196, 0.1);
  backdrop-filter: blur(20px);
}

.regist__box{
  transform: translateY(10%);
  width: 430px;
  height: 650px;
  background: url(img/color.jpg);
  background-size: 140%;
  box-shadow: 14px 14px 30px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.regist__title{
  margin: 40px 0;
  font-weight: var(--weight-bold);
}

.regist__id,
.regist__pw,
.egist__pwchk,
.regist__addr,
.regist__phone,
.regist__phone__cer,
.regist_email{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#user_id,
#mypw1,
#mypw2,
#roadFullAddr2,
#roadFullAddr3,
#email{
  height: 30px;
  border-style: none;
  border-bottom: 1px solid var(--color-white);
  background-color:transparent;
  color: var(--color-white);
  font-size: var(--font-small);
  width: 240px;
  height: 40px;
  margin-left: 20px;  
}
#roadFullAddr1{
  height: 30px;
  border-style: none;
  border-bottom: 1px solid var(--color-white);
  background-color:transparent;
  color: var(--color-white);
  font-size: var(--font-small);
  width: 50px;
  height: 40px;
  margin-left: 20px;  
}
#myph,
#phonecode{
  height: 30px;
  border-style: none;
  border-bottom: 1px solid var(--color-white);
  background-color:transparent;
  color: var(--color-white);
  font-size: var(--font-small);
  width: 130px;
  height: 40px;
  margin-left: 20px;  
}
#user_id:focus,
#mypw1:focus,
#mypw2:focus,
#roadFullAddr2:focus,
#roadFullAddr3:focus,
#email:focus,
#roadFullAddr1:focus,
#myph:focus,
#phonecode:focus{
  outline: none;
}

.regist__button{
  border:none;
  height: 35px;
  background-color: var(--color-white);
  color: var(--color-green);
  border-radius: 14px;
  cursor: pointer;
  padding: 0 13px;
  font-size: var(--font-small);
}
.regist__button:hover{
background-color: var(--color-green);
transition: .2s linear;
color: var(--color-white);
}

input::placeholder{
  color: var(--color-white);
}

.check__font{
  margin: 5px 0 5px 20px;
  font-size: var(--font-mic);
}

/*id*/
.regist__id__check{
  margin-left:30px;
}

.regist__pw__title{
  margin-right:7px;
}
.regist__pw__check{
  margin-left:15px;
}

/*addr*/
#addr_t{
  margin-left:55px;
}
.regist__addr__post{
  margin-left:10px;
}

/*phone*/
#phone_t{
  margin-right:5px;
}
.regist__phone__input{
  margin-left:20px;
}
#phone_code_send{
  margin-left: 20px;
}

/*code*/
.regist__phone__cer__title{
  margin-right:7px;
}
.regist__code__input{
  margin-left:4px;
}
#phone_code_check_button{
  margin-left: 20px;
}

/*email*/
#email_t{
  margin-right:3px;
}
.regist__email__input{
  margin-left:5px;
}

.regist__btn{
  margin: 20px 0 70px 0;
}