:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #53e4be;

  /*font size*/
  --font-large: 60px;
  --font-chart: 30px;
  --font-regular: 20px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

a {
  text-decoration: none;
}

.main__image {
  opacity: 1;
  background-size: 180%;
  max-width: atuo;
  height: 800px;
}

/*chart*/
.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: tranlate(10%, 0);
}

.chart__wrap {
  min-width: 800px;
  height: 620px;
  color: var(--color-black);
  text-align: center;
  border-radius: 30px;
  transform: translate(10%, 0);
  margin-bottom: 40px;
}

.chart__name {
	font-size: var(--font-chart);
	font-weight: var(--weight-thin);
	color: var(--color-dark-gray);
	margin:0;
}

.chart__name__map {
	font-size: var(--font-chart);
	font-weight: var(--weight-thin);
	color: var(--color-dark-gray);
	margin:0;
	transform:translate(10%, -140%);
}

.map_wrap{
	transform: translate(20%, 0%);
}

.chart__map{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
  height: 500px;
  background-color:var(--color-green);
  border-radius: 20px;
  margin-bottom: 200px;
}


.map{
  width: 500px;
  height: 400px;
  transform: translate(3%, 12%);
  border-radius: 15px;
  background-color: white;
}

.map__title{
  font-size: var(--font-chart); 
  font-weight: var(--weight-thin); 
  color: var(--color-white);
  font-family: 'Spoqa Han Sans';
  margin-right:40px;
  margin-top: 40px;
}

