:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #53e4be;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

a {
  text-decoration: none;
}

.main__image {
  opacity: 1;
  background-size: 180%;
  max-width: atuo;
  height: 800px;
}

/*chart*/
.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.chart__wrap {
  background-color: var(--color-gray);
  min-width: 800px;
  /*height: auto;*/
  height: 550px;
  color: var(--color-black);
  text-align: center;
  margin: 20px;
  border-radius: 30px;
}

