@charset "UTF-8";

:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #60825e;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* * */
* {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

/* change form */
.wrap__changepw {
  width: 470px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--size-border-radius);
}

/* changepw box */
.changepw {
  height: 270px;
  padding-left: 60px;
  padding-right: 60px;
}

/* changepw2 box */
.changepw2 {
  height: 68px;
  padding-left: 30px;
  padding-right: 30px;
}

/* changepw all */
.change__all {
  width: 100%;
}

/* changepw title */
.changepw__title {
  text-align: center;
  line-height: 120px;
  height: 120px;
}

/* change first, change second */
.changepw__first,
.changepw__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.changepw__first__title,
.changepw__second__title {
  width: 18%;
}

.changepw__first__input,
.changepw__second__input {
  display: flex;
  width: 100%;
}

.changepw__first__text,
.changepw__second__text {
  width: 95%;
  height: 44px;
  border-radius: 14px;
  outline: none;
  border: 1px solid #ddd;
  padding-left: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray);
}

/* change button */
.changepw__button {
  height: 40px;
}

.changepw__button__input {
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  width: 27%;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-gray);
}

.check{
	width: 400px;
	height: 20px;
	font-size: var(--font-small);
	text-align: center;
}

.check2 {
	width: 400px;
	height: 20px;
	font-size: var(--font-small);
	text-align: center;
}
