@charset "UTF-8";

:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green:#53e4be;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-semi-regular: 16px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}
a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.login__form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*width:100vw;*/
    height:100vh;
    background: rgba(196, 196, 196, 0.1);
    backdrop-filter: blur(20px);
}
.login__box{
    transform:translateY(30%);
    width:380px;
    height:508px;
    background-size: 100%;
    box-shadow: 14px 14px 30px 3px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.login__title{
  margin-top: 40px;
  margin-bottom: 60px;
  font-weight: var(--weight-bold);
}
.login__id, .login__pw{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login_text_pw, .login_text_id{
  height: 30px;
  border-style: none;
  border-bottom: 1px solid var(--color-white);
  background-color:transparent;
  color: var(--color-white);
  font-size: var(--font-small);
  width: 220px;
  height: 40px;
  margin-left: 20px;
}
.login_text_pw:focus, .login_text_id:focus{
  outline: none;
}
.login_text_pw{
  margin-bottom: 60px;
}

.login__select__button{
  border:none;
  height: 45px;
  background-color: var(--color-white);
  color: var(--color-green);
  border-radius: 14px;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 0 13px;
  font-size: var(--font-semi-regular);
}
.login__select__button:hover{
background-color: var(--color-green);
transition: .2s linear;
color: var(--color-white);
}
#login{
  width: 170px;
  margin-right: 20px;
}

/*sns login*/

.login__sns{
  display: flex;
  flex-direction: row;
}
.naver__id__login{
  width:50px;
  height:50px;
  background-color: #00c73c;
  border-radius: 10px;
  margin:0 10px;
  margin-bottom: 10px;
}
.naver__id__login>a>img{
  width:26px;
  height:auto;
  transform: translate(43%, 48%);
}

.kakao__id__login{
  width:50px;
  height:50px;
  background-color: #f9e000;
  border-radius: 10px;
  margin:0 10px;
  margin-bottom: 10px;
}
.kakao__id__login>a>img{
  width:28px;
  height:auto;
  transform: translate(38%, 45%);
}
.login__find__title{
  margin-bottom: 40px;
  color: var(--color-white);
}
