@charset "UTF-8";

/* * */
*{
    /*box-sizing: border-box;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
}
img{
    vertical-align: middle;
}
a{
    color: black;
    text-decoration: none;
}
li,ul,ol{
    list-style: none;
}
:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #60825e;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

body {
  font-family: 'Noto Sans KR', sans-serif; 
  margin: 0;
  padding: 0;
}

/* section */
.bookmark{
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.bookmark::after{
    clear: both;
    content: '';
    display: block;
}


.news{
	margin: 120px 0;
}
.news__section1__news__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
    margin-top:100px;
}

.book__mark__check{
	width: 500px;
	height: 500px;
}

.book__mark__check>p{
	text-align:center;
}

.news__section1__content{
	width: 300px;
    height: 200px;
    border-radius:13px;
    margin: 20px 20px;
    background-color: var(--color-gray);
}

.content__box{
    width:300px;
    height: 200px;
    z-index:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content__img__box {
    width: 100%;
    height: 200px;
    border-radius:13px;
}

.content__img__box> a> img{
    width:100%;
    border-radius:13px;
}

.content__text{
    margin-top: 30px;
}
.content__text > p{
	font-size: var(--font-small);
    margin:0;
    padding-bottom: 20px;
}
.content__title{
    margin-top: 50px;
    font-weight: var(--weight-bold);
    color:var(--color-white);
    cursor:pointer;
    text-align: center;
    margin: 35px 20px;
}
.content__heart {
    visibility: hidden;
    transform: translateY(-100%);
    width: 300px;
    height: 200px;
    background-color: transparent;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background__bg{
    position: fixed;
    width: 300px;
    height: 200px;
    z-index:-2;
    border-radius: 13px;
}
.content__heart:hover .background__bg{
    background-color:var(--color-black);
    transition: 0.3s linear;
    opacity: .4;
}
.heart{
    margin: 14px 0 0 242px;
    cursor: pointer;
    width: 8%;
}


/* .bookmark__section{
    width: 70%;
    float: left;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
	padding-left: 10%;
}

.bookmark__section__ul{
    border: 1px solid black;/*
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.bookmark__section__ul > li{
    border: 1px solid yellow;
    width: 30%;
    display: inline-block;
    padding : 0%;
}

.bookmark__section1__content{
    
}

.content__img__box{
    border: 1px solid green;
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 15px;
}

.content__img__box > img{
    width: 100%;
}

.content__heart{
    width: 30px;
    height: 30px;
    border: 1px solid red;
    position: absolute;
    right: 10px;
    top: 10px;
}

.content__heart > img {
    width: 100%;
}

.content__text{
    width: 100%;
}
.content__text__p{
    width: 100%;
    text-align: left;
    font-size: var(--font-regular);
    font-weight: var(--weight-thin);
} */

/* side navigation */

.bookmark__side__nav{
    width: 250px;
    height: 100%;
    position: sticky;
    top: 13%;
    margin-left:70px;
    margin-bottom:15px;
}
.bookmark__side__nav::after{
    clear: both;
    content: '';
    display: block;
}
.bookmark__side__nav__p{
    width: 90%;
    padding-left: 10px;
    margin: auto;
    line-height: 40px;
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-thin);
}
.nav__link:hover{
    color: var(--color-green);
}