:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #60825e;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-semi-regular: 16px;
  --font-small: 14px;

  /*font weight*/
  --weight-logo: 900;
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.green__board__select {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px 180px;
}

.board__title {
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.title {
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-bold);
  transform: translateY(25%);
  padding-left: 30px;
}
.title__name {
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-regular);
  width: 400px;
  transform: translateY(40%);
  padding-left: 30px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: var(--color-black);
}

.board__content {
  display: flex;
  flex-direction: column;
}
.content {
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-regular);
  width: 85%;
  height: auto;
  margin: 30px 20px;
  background-color: white;
}

.content__buttons {
  text-align: right;
  padding: 10px 90px 30px 0;
}

.board__reply {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: auto;
}

.reply__admin {
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-bold);
  padding-left: 30px;
}
.reply__comments {
  font-size: var(--font-semi-regular);
  font-weight: var(--weight-regular);
  padding-left: 20px;
  margin: 15px 10px 30px 20px;
  height: auto;
}

.board__reply__insert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.reply__comments__insert {
  text-align: right;
  padding-right: 90px;
  width: 70%;
}

.comments__text {
  width: 300px;
  height: 30px;
  padding-right: 20px;
}

.reply__buttons {
  margin: 10px 0 0 270px;
}

.button {
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 20px;
  width: 100px;
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-gray);
}
