:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #60825e;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-small: 14px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul,li{list-style: none;}

a {
  text-decoration: none;
}
*{  margin: 0; padding: 0; }
/*사용예시*/

/*-> var() 안에 root로 정해준 값을 넣어주면 적용됩니다. */
.main__title p:nth-child(n + 2):nth-child(-n + 3) {
	font-size: var(- -font-regular);
	font-weight: var(- -weight-thin);
	margin: 0;
}

.menubar__menu>p {
	color: var(- -color-white);
	font-size: var(- -font-small);
	font-weight: var(- -weight-thin);
	margin: 0;
	padding: 0 30px;
}

/*자주묻는 질문*/

.accordion-box{
  width: 100%; max-width: 600px;
  margin:  0 auto;
}
p.title{
  width: 100%;  
  line-height: 60px; 
  background: #000; 
  color: #fff; 
  box-sizing: border-box;
  padding: 0 10px;
}
.con{
  padding: 20px; 
  display:none;
}

.qnalist__section__frequent {
	margin: 120px auto 60px auto;
	width: 60%;
}
.qnalist__section__frequent__title{
	width:100%;
	margin: 0 auto;
	background: lightgrey;
    color: #fff;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 30px;
    border-bottom: 1px solid linen;
}

.qnalist__section__frequent__content {
	padding: 20px; 
    display:none;
}

/*QNA 리스트*/
.qnalist__section2__border {
	margin-bottom: 10px;
}
.qnalist__section2__border__title{
	margin: 0 auto;
	width:50%;
	margin-bottom: 10px;
}

.qnalist__section2__border__table {
	margin: 0 auto;
	border-collapse: collapse;
	width:100%;
}
.qnalist__section2__border__btnwrap{
	margin: 20px auto;
	width:50%;
	text-align: center;
}

#outter{
	margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
}

.qnalist{
	margin-top: 40px;
}

.qnalist__wrap{
	margin-bottom: 80px;
}


.qnalist__section2__border__btnwrap > form{
	display: inline-block;
}
