:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f5f5f5;
  --color-dark-gray: #c4c4c4;
  --color-green: #60825e;

  /*font size*/
  --font-large: 60px;
  --font-regular: 20px;
  --font-semi-regular: 16px;
  --font-small: 14px;

  /*font weight*/
  --weight-logo: 900;
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.menubar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0;
  height: 70px;
  background-color: transparent;
}

.menubar__logo {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-logo);
  margin: 0;
  padding: 0 30px;
}

.menubar__sign {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  margin: 0;
  padding: 5px 30px;
}

.menubar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(75%);
}

.menubar__category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menubar__category > a > p {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  margin: 0;
  padding: 5px 20px;
}

/*user menu*/
.menubar__user {
  visibility: hidden;
  position: fixed;
  right: 20px;
  transform: translateY(30%);
  background-color: var(--color-white);
  width: 120px;
  height: 80px;
  border-radius: 14px;
}
.user__category {
  transform: translate(35%, 100%);
  font-size: var(--font-small);
  width: 80px;
  padding: 0;
}
.user__category > a > p {
  color: var(--color-black);
  font-weight: var(--weight-regular);
  display: inline;
}

/*chatbot*/
.chatbot {
  position: fixed;
  padding-left: 40px;
  transform: translateY(730%);
  right: 50px;
  cursor: pointer;
}
.chatbot__box {
  width: 160px;
  height: 60px;
  background-color: var(--color-gray);
  border-radius: 15px;
}
.chatbot__box > p {
  transform: translate(30%, 80%);
  font-weight: var(--weight-bold);
  color: var(--color-green);
}
