<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.corona.green.model.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.corona.green.model.dto.QnaBoardDto" alias="QnaBoardDto"/>
		<typeAlias type="com.corona.green.model.dto.QnaBoardReDto" alias="QnaBoardReDto"/>
		<typeAlias type="com.corona.green.model.dto.DonationDto" alias="DonationDto"/>
		<typeAlias type="com.corona.green.model.dto.NewsDto" alias="NewsDto"/>
		<typeAlias type="com.corona.green.model.dto.BookMarkDto" alias="BookMarkDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/qnaboard-mapper.xml"/>
		<mapper resource="/mybatis/qnare-mapper.xml"/>
		<mapper resource="/mybatis/mypage-mapper.xml"/>
		<mapper resource="/mybatis/donation-mapper.xml"/>
		<mapper resource="/mybatis/news-mapper.xml"/>
		<mapper resource="/mybatis/bookmark-mapper.xml"/>
	</mappers>

</configuration>