<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
		SELECT ID, PW, PHONE, ADDRESS, EMAIL, ROLE, ENABLED, REGDATE
		FROM MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>
	
	<insert id="insert" parameterType="MemberDto">
		INSERT INTO MEMBER 
		VALUES(#{id}, #{pw}, #{phone}, #{address}, #{email}, 'USER', 'N', SYSDATE)
	</insert>
	
	<select id="idcheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<select id="emailcheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<select id="emailcheckid" parameterType="String" resultType="MemberDto">
		SELECT ID, PW, PHONE, ADDRESS, EMAIL, ROLE, ENABLED, REGDATE
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<select id="emailidcheck" parameterType="MemberDto" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = #{email} AND ID = #{id}
	</select>
	
	<update id="changepw" parameterType="MemberDto">
		UPDATE MEMBER SET
		PW = #{pw}
		WHERE ID = #{id}
	</update>

</mapper>
