<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="news">

	<select id="bookmarklist" parameterType="String" resultType="NewsDto">
		SELECT BOOKMARKNO, ID, LINK, IMG, TITLE, CONTENT
		FROM BOOKMARK
		WHERE ID = #{id}
	</select>
	
	<select id="check" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM BOOKMARK
		WHERE ID = #{id}
		AND LINK = #{link}
	</select>
	
	<!-- 북마크 등록 -->
	<insert id="insert" parameterType="NewsDto">
		INSERT INTO BOOKMARK 
		VALUES(BOOKMARKNO_SEQ.NEXTVAL, #{id}, #{link}, #{img}, #{title}, null)
	</insert>
	
	<!-- 북마크 해제 -->
	<delete id="delete" parameterType="NewsDto">
		DELETE FROM BOOKMARK
		WHERE ID = #{id}
		AND LINK = #{link}
	</delete>
</mapper>
