<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaboard">

	<select id="qnalist" parameterType="QnaBoardDto" resultType="QnaBoardDto">
		SELECT ID, BOARDNO, TITLE, CONTENT, REGDATE, SECRET
		FROM QNA_BOARD
		ORDER BY BOARDNO
	</select>
	
	<select id="selectOne" parameterType="int" resultType="QnaBoardDto">
		SELECT ID, BOARDNO, TITLE, CONTENT, REGDATE, SECRET
		FROM QNA_BOARD
		WHERE BOARDNO = #{boardno}
	</select>
	
	<insert id="insert" parameterType="QnaBoardDto">
		INSERT INTO QNA_BOARD
		VALUES(#{id}, BOARDNO_SEQ.NEXTVAL, #{title}, #{content}, SYSDATE, #{secret})
	</insert>
	
	<update id="update" parameterType="QnaBoardDto">
		UPDATE QNA_BOARD
		SET TITLE = #{title}, CONTENT = #{content}
		WHERE BOARDNO = #{boardno}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM QNA_BOARD
		WHERE BOARDNO = #{boardno}
	</delete>
	
	<select id="selectSerchTitle" parameterType="String" resultType="QnaBoardDto">
		SELECT ID, BOARDNO, TITLE, CONTENT, REGDATE, SECRET
		FROM QNA_BOARD
		WHERE TITLE LIKE '%'||#{title}||'%'
		ORDER BY BOARDNO
	</select>
	
	<select id="selectSerchId" parameterType="String" resultType="QnaBoardDto">
		SELECT ID, BOARDNO, TITLE, CONTENT, REGDATE, SECRET
		FROM QNA_BOARD
		WHERE ID LIKE '%'||#{id}||'%'
		ORDER BY BOARDNO
	</select>
	
	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM QNA_BOARD
	</select>
	
	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" resultType="QnaBoardDto" parameterType="int">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM QNA_BOARD
							ORDER BY BOARDNO
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>

</mapper>
